# Framework principal de nuestro backend (arquitectura web)
Django>=4.2,<5.0

# Librería (driver) que le permitirá a Python conectarse a PostgreSQL más adelante
psycopg2-binary>=2.9

# Servidor web para producción (lo usaremos después, pero es bueno tenerlo)
gunicorn>=21.2