# Framework principal de nuestro backend (arquitectura web)
Django>=4.2,<5.0

# Librería (driver) que le permitirá a Python conectarse a PostgreSQL más adelante
psycopg2-binary>=2.9

# Servidor web para producción (lo usaremos después, pero es bueno tenerlo)
gunicorn>=21.2
flake8==7.0.0

#Para generar los endpoint para APIREST
djangorestframework==3.15.1
drf-spectacular==0.27.2

dj_database_url==2.1.0
gunicorn==22.0.0 